<ion-header [translucent]="true">
  <ion-toolbar class="titles">
    <ion-title>
     Products
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card *ngFor="let item of apidata.products ; let i = index">
      <div class="header"><img src="{{item.thumbnail}}" alt="img"></div>
      <div class="content-footer">
        <p class="paragraph">  {{item.title}}</p>
        <p class="paragraph">${{item.price}} </p>
        <!-- <h6 class="description">{{item.description}}</h6> -->
        <div class="descriptioncls">
          <div class="despadding" *ngIf="!item.showMore">
              {{trimString(item.description,50)}}
          </div>
          <div class="despadding" *ngIf="item.showMore">
              {{item.description}}
          </div>
          <a class="clsbtn" (click)="item.showMore = !item.showMore" *ngIf="item.description.length> 50">Show <span [innerHtml]="item.showMore ? 'less' : 'More'">  </span>
          </a>
        </div>
      </div>
        
      
        
    </ion-card>
</ion-content>
