<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <button (click)="navigatetotab()"> Navigate to tab2</button>
  <div *ngTemplateOutlet="myngtemplate"></div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-label>Label</ion-label>
  <form [formGroup]="ionicForm" (ngSubmit)="openModal()">
  <!-- <form [formGroup]="ionicForm" > -->
    <ion-list>
      <ion-item>
       <ion-label position="floating" class="change-font"> Product Name</ion-label>
       <ion-input type="text" formControlName="productname"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
       <ion-label position="floating" class="change-font"> product price</ion-label>
       <ion-input type="text" formControlName="productprice"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
       <ion-label position="floating" class="change-font"> product Quantity</ion-label>
       <ion-input type="text" formControlName="productquantity"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
       <ion-label position="floating" class="change-font">product discount</ion-label>
       <ion-input type="text" formControlName="productdiscount"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="openModal()">Open</ion-button>
  </form>
  <ion-item>
    <ion-label position="floating" class="change-font"> Product Name</ion-label>
    <ion-input type="text"  #myInput placeholder="Type something"></ion-input>
    <ion-button (click)="myfunction()">click</ion-button>
   </ion-item>


   
   <ion-item>
    <ion-label position="floating" class="change-font"> Product Name</ion-label>
    <ion-input type="text"  [(ngModel)]="modelinput" placeholder="Type something"></ion-input>
    <ion-button (click)="mynewfunction()">click</ion-button>
   </ion-item>
   
   <ion-content>
      <h2 >this is ng-template heading</h2>
  
      <ng-template #myngtemplate>
        <h4>Inside the ng-template</h4>
        <h3>It will not render until we define <b>ngtempateoutlet</b> </h3>
      </ng-template>
      
   </ion-content>

   
<ion-content>
      <app-newcomponent >
        <ion-text #paragraph class="upperparagraph">this is upper paragraph 1</ion-text>
        <ion-text #paragraph  id="loweparagraph"  > this is lower paragraph 1</ion-text>
      </app-newcomponent>
      
      <app-newcomponent>
        <ion-text #paragraph class="upperparagraph">this is upper paragraph 3</ion-text>
        <ion-text #paragraph id="loweparagraph"> this is lower paragraph 3</ion-text>
      </app-newcomponent>
      <app-newcomponent>
        <!-- #myInput -->
        <ion-text #paragraph class="upperparagraph">this is upper paragraph 2</ion-text>
        <ion-text  #paragraph id="loweparagraph"  > this is lower paragraph 2</ion-text>
      </app-newcomponent>
  </ion-content>
   
  <ion-button (click)="postDataToFirebase()">Store Data in Firebase</ion-button>


  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
