<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="ionicForm" (ngSubmit)="formdata()">
    <!-- <form [formGroup]="ionicForm" > -->
      <ion-list>
        <ion-item>
         <ion-label position="floating" class="change-font"> Product Name</ion-label>
         <ion-input type="text" formControlName="productname"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
         <ion-label position="floating" class="change-font"> product price</ion-label>
         <ion-input type="text" formControlName="productprice"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
         <ion-label position="floating" class="change-font"> product Quantity</ion-label>
         <ion-input type="text" formControlName="productquantity"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
         <ion-label position="floating" class="change-font">product discount</ion-label>
         <ion-input type="text" formControlName="productdiscount"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block" (click)="formdata()">Open</ion-button>
    </form>

    <div *ngFor="let x of showdata">
      {{x.productname}}
      {{x.productquantity}}
      {{x.productdiscount}}
      {{x.productprice}}
    </div>

    <button (click)="fethingdetails()">fetch details from database </button>
</ion-content>
